[init]
	defaultBranch = master
[core]
	autocrlf = input
	whitespace = space-before-tab,trailing-space,cr-at-eol
[commit]
	gpgSign = true
[fetch]
	prune = true
[pull]
	rebase = false
[rebase]
	autosquash = true
[mergetool]
	keepBackup = false
[tag]
	gpgSign = true
[user]
	name = {{ .name }}
	email = {{ .email }}
[credential]
	helper = manager
[alias]
	root = rev-parse --show-toplevel
	current = branch --show-current
	graph = log --graph --oneline --decorate=full --date=iso --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset) %C(cyan)@%an%C(reset)%C(auto)%d%C(reset) %s\"
