progress=false
init-author-email={{ .email }}
init-author-name={{ .name }}
init-version=0.1.0
init-license=MIT
strict-engines=true
{{- if not .codespaces }}
//registry.npmjs.org/:_authToken={{ (bitwardenFields "item" "registry.npmjs.org").token.value }}
@kphrx:registry=https://registry.npmjs.org/
{{- end }}
